.vscode
/GymAPI/bin
/GymAPI/obj
/GymAPI/obj
/GymAPI/obj
GymAPI/obj/Debug/net8.0/GymAPI.AssemblyInfo.cs
GymAPI/obj/Debug/net8.0/GymAPI.AssemblyInfoInputs.cache
GymAPI/obj/Debug/net8.0/GymAPI.AssemblyInfo.cs
GymAPI/obj/Debug/net8.0/GymAPI.AssemblyInfo.cs
GymAPI/obj/Debug/net8.0/GymAPI.AssemblyInfoInputs.cache
GymAPI/obj/Debug/net8.0/GymAPI.assets.cache
GymAPI/obj/Debug/net8.0/GymAPI.csproj.AssemblyReference.cache
GymAPI/obj/Debug/net8.0/GymAPI.GeneratedMSBuildEditorConfig.editorconfig
GymAPI/obj/GymAPI.csproj.nuget.dgspec.json
/GymAPI/obj
/GymAPI/obj
/GymAPI/obj
/GymAPI/obj
